@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');


html{
    background-color: #EDF3F8;
    font-family: 'Manrope', sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 12px;
    line-height: 1.5;
}

p{
    color: hsl(215, 16%, 59%);
    margin-top: 10px;
}
.author, .uk-card-title{
    color:hsl(217, 9%, 36%) !important;
    font-weight: 700;
}
.uk-card-title{
    font-size: 1.4rem;
    line-height: 1.5;
}
.uk-card{
    width: 45%;
    height:250px;
    margin-top: 15%;
    margin-left: 25%;
    border-radius: 10px;
    

}
.cover{
    width: 260px !important;
    height: 250px !important;
    margin-left: -9.1%;
    margin-top: -5.2%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.uk-card-body{
    width: 95%;
    margin-left: -17%;
    margin-top: -4%;
}
.author{
    margin-top: 25px;
}
.date{
    margin-top: 6px;
    color: hsl(212, 23%, 69%);
    font-size: 0.9rem;
}
.profile-rounded{
    float: left;
    border-radius: 50%;
    width: 35px;
    margin: 0px 10px 10px 10px;
}

.share{
    float: right;
    background-color: hsl(210, 46%, 95%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    margin-top: -7%;
}
.share svg{
    margin-top: 10px;
}

.attribution{margin-top: 72vh;}